# Ignore Python virtual environments
backend/venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore environment files

.env


# Ignore Node.js dependencies (if using frontend)
frontend/node_modules/
